[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:rodrigomaia17/tmux-powerline
[submodule "provision/iterm"]
	path = provision/dracula-theme-iterm2
	url = git@github.com:dracula/iterm.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = git@github.com:rodrigomaia17/tmuxinator-projects.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
