[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/rodrigomaia17/tmux-powerline
[submodule "provision/iterm"]
	path = provision/dracula-theme-iterm2
	url = https://github.com/dracula/iterm.git
